html,
body {
	font-size: 16px;
	line-height: normal;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
/* Helpers */
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.to-left {
	float: left;
}
.to-right {
	float: right;
}
.to-center {
	margin: 0 auto;
}
.gradient-primary {
	background-repeat: no-repeat;
	background-size: cover;
	background: linear-gradient(to right, #812D46, #A56F66);
}
.bg-red {
	background-color: #E8776B;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-blue {
	background-color: #5E95CD;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-grey {
	background-color: rgba(128, 128, 128, 0.1);
}
.color-white {
	color: #fff;
}
.row:after {
	display: block;
	content: '';
	clear: both;
}
.clearfix:after {
	display: block;
	content: '';
	clear: both;
}
.section-primary {
	padding: 1.5rem 3rem;
	clear: both;
}
.section-secondary {
	padding: 0.675rem;
	clear: both;
}
.btn {
	text-decoration: none;
	display: inline-block;
	padding: 5px 15px;
	box-sizing: border-box;
	border-radius: 4px;
	transition: ease 0.5s;
	clear: both;
}
.btn:focus {
	outline: none;
}
.btn-lg {
	line-height: 36px;
	font-size: 18px;
}
.btn-md {
	line-height: 20px;
	font-size: 10px;
}
.btn-primary {
	background: #5E95CD;
	color: #000;
}
.btn-primary:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
}
.btn-secondary {
	background: #E8776B;
	color: #fff;
	border: 1px solid #fff;
}
.btn-secondary:hover {
	background: #812D46;
	color: #fff;
	cursor: pointer;
}
.row {
	display: block;
}
.row:after {
	display: table;
	content: "";
	clear: both;
}
.col-xs-3,
.col-xs-4,
.col-xs-6,
.col-xs-8,
.col-xs-12,
.col-sm-3,
.col-sm-4,
.col-sm-6,
.col-sm-8,
.col-sm-12,
.col-md-3,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-12,
.col-lg-3,
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
	float: left;
}
@media all and (max-width: 543px) {
	.col-xs-3 {
		width: 25%;
	}
	.col-xs-4 {
		width: 33.33%;
	}
	.col-xs-6 {
	    width: 50%;
	}
	.col-xs-8 {
		width: 66.66%;
	}
	.col-xs-12 {
	    width: 100%;
	}
	.section-secondary {
		padding: 5px;
	}
	.title-primary {
		font-size: 2rem;
		text-align: center;
	}
	.title-secondary {
		font-size: 2em;
		text-align: center;
	}
	.article {
		text-align: justify;
	}
	.profile-image {
		float: none;
		width: 200%;
		margin: 0 auto;
	}
}
@media all and (min-width: 768px) {
    .col-sm-3 {
        width: 25%;v
    }
    .col-sm-4 {
	    width: 33.33%;
	}
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-8 {
		width: 66.66%;
	}
    .col-sm-12 {
        width: 100%;
    }
}
@media all and (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
		 width: 33.33%;
	}
    .col-md-6 {
        width: 50%;
    }
    .col-md-8 {
		width: 66.66%;
	}
    .col-md-12 {
        width: 100%;
    }
}
@media all and (min-width: 1200px) {
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
		width: 33.33%;
	}
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-8 {
		width: 66.66%;
	}
    .col-lg-12 {
        width: 100%;
    }
}
/* Navigation */
.fa {
	color: #fff;
}
.nav-item {
	font-size: 24px;
	padding: 5px;
	text-decoration: none;
	color: #fff;
}
header a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
}
/* Main */
.profile-image {
	width: 200px;
	padding: 10px;
	border-radius: 15px;
}
.article {
	margin: 5px;
	border-radius: 5px;
}
.article a,
.aside a {
	text-decoration: none;
	
}
.aside {
	margin: 5px;
	border-radius: 5px;
}
.aside ul {
	list-style-type: none;
}
.aside li {
	padding: 5px;
}
.search {
	line-height: 24px;
	font-size: 10px;
	outline: none;
}
/*Footer */
.share-buttons{
	float: right;
}
.copyright {
	font-size: 1rem;
}
.fa {
	padding: 5px;
}
.footer .fa:hover {
	color: #812D46;
}