$font-stack: "Open Sans", Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: normal;

$title-primary: 3em;
$title-secondary: 2em;
$title-third: 1.5em;
$sp-padding: 6.25rem;
$ss-padding: 1.25rem;
$radius: 4px;

$color-white: #fff;
$color-blue: #5e95cd;
$color-black: #000;
$color-red: #e8776b;
$color-lightgray: #d3d3d3;
$color-darkgray: #a9a9a9;
$color-gray: rgba(128, 128, 128, 0.1);
$color-darkred: #812d46;
$color-lightred: #A56F66;
$color-gray-transparent: rgba(255, 255, 255, 0.2);

$padding-minus: -15px;
$padding-plus: 15px;
$padding-mobile: 1rem;
$copyright: 0.7em;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-sizing ($box-sizing) {
    -webkit-box-sizing: $box-sizing;
    -moz-box-sizing: $box-sizing;
    -ms-box-sizing: $box-sizing;
    box-sizing: $box-sizing;
}

body {
  font-family: $font-stack;
  font-size: $font-size;
  line-height: $line-height;
}
/* Helpers */

.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-justify {
	text-align: justify;
}
.text-margin {
	margin: 20px 0;
}
.to-left {
	float: left;
}
.to-right {
	float: right;
}
.to-center {
	margin: 0 auto;
}
.bg {
	background-repeat: no-repeat;
	background-size: cover;
}
.gradient-primary {
	@extend .bg;
	background: linear-gradient(to right, $color-darkred, $color-lightred);
}
.bg-red {
	@extend .bg;
	background-color: $color-red;
}
.bg-blue {
	@extend .bg;
	background-color: $color-blue;
}
.bg-grey {
	@extend .bg;
	background-color: $color-gray;
}
.title-primary {
	font-size: $title-primary;
}
.title-secondary {
	font-size: $title-secondary;
}
.title-third {
	font-size: $title-third;
}
.color-white {
	color: $color-white;
}
.section-primary {
	padding: $sp-padding;
	clear: both;
}
.section-secondary {
	padding: $ss-padding;
	clear: both;
}
.btn {
	text-decoration: none;
	display: inline-block;
	padding: 5px 15px;
	@include box-sizing(border-box);
	@include border-radius($radius);
	transition: ease 0.5s;
	clear: both;
	&:focus {
		outline: none;
	}
}
.btn-lg {
	line-height: 36px;
	font-size: 18px;
}
.btn-md {
	line-height: 20px;
	font-size: 10px;
}
.btn-primary {
	background: $color-blue;
	color: $color-black;
	&:hover {
		background: $color-black;
		color: $color-white;
		cursor: pointer;
	}
}
.btn-secondary {
	background: $color-red;
	color: $color-white;
	border: 1px solid $color-white;
	&:hover {
		background: $color-darkred;
		color: $color-white;
		cursor: pointer;
	}
}
.clearfix:after {
	display: block;
	content: "";
	clear: both;
}
.row {
	display: block;
	margin-left: $padding-minus;
	margin-right: $padding-minus;
	&:after {
		display: table;
		content: "";
		clear: both;
	}
}
/* Header */
.fa {
	color: $color-white;
}
.nav-item {
	padding: 5px;
	text-decoration: none;
	color: $color-white;
}
.menu a:hover {
	background-color: $color-gray-transparent;
	@include border-radius($radius);
}
/* Form section */
.input,
.select {
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 10px;
	@include box-sizing(border-box);
	outline: none;
	font-size: 12px;
}
.textarea {
	width: 100%;
	height: 100px;
	padding: 12px 20px;
	@include box-sizing(border-box);
	@include border-radius($radius);
	resize: none;
	outline: none;
	border: 1px solid $color-lightgray;
}
.input[type=text]:focus,
.input[type=password]:focus,
.input[type=email]:focus {
	background-color: $color-lightgray;
}
.input[type=button],
.input[type=submit],
.input[type=reset] {
	width: 100px;
	height: 50px;
	font-size: 12px;
	padding: 16px 32px;
	text-decoration: none;
	cursor: pointer;
	@include border-radius($radius);
	text-align: center;
	display: inline-block;
}
.input[type=button]:hover,
.input[type=submit]:hover,
.input[type=reset]:hover {
	color: $color-white;
	background-color: $color-black;
}
.input[type=checkbox],
.input[type=radio] {
	display: inline-block;
	width: 13px;
    height: 13px;
    margin:10px;
}
/* Footer */
.copyright {
	font-size: $copyright;
}
.fa {
	padding: 5px;
	text-decoration: none;
}
.footer {
	.fa:hover {
	color: $color-darkred;
	}
}
.col-xs-3, .col-xs-4, .col-xs-6, .col-xs-8, .col-xs-9, .col-xs-12,
.col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-9, .col-sm-12,
.col-md-3, .col-md-4, .col-md-6, .col-md-8, .col-md-9, .col-md-12,
.col-lg-3, .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-9, .col-lg-12 {
	float: left;
	padding-left: $padding-plus;
    padding-right: $padding-plus;
    padding-top: 5px;
    @include box-sizing(border-box);
}
@media all and (max-width: 543px) {
	.col-xs-3 {
		width: 25%;
	}
	.col-xs-4 {
		width: 33.33%;
	}
	.col-xs-6 {
	    width: 50%;
	}
	.col-xs-8 {
		width: 66.66%;
	}
	.col-xs-9 {
		width: 75%;
	}
	.col-xs-12 {
	    width: 100%;
	}
	.section-primary,
	.section-secondary {
		padding: $padding-mobile;
	}
	.title-primary {
		font-size: $title-primary;
		text-align: center;
	}
	.title-secondary {
		font-size: $title-secondary;
		text-align: center;
	}
	.text-wrapper,
	.article {
		text-align: justify;
	}
	.btn-wrapper {
		text-align: center;
	}
	.img-primary {
		width: 100%;
	}
}
@media all and (min-width: 768px) {
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
	    width: 33.33%;
	}
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-8 {
		width: 66.66%;
	}
	.col-sm-9 {
		width: 75%;
	}
    .col-sm-12 {
        width: 100%;
    }
}
@media all and (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
		 width: 33.33%;
	}
    .col-md-6 {
        width: 50%;
    }
    .col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 75%;
	}
    .col-md-12 {
        width: 100%;
    }
}
@media all and (min-width: 1200px) {
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
		width: 33.33%;
	}
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-8 {
		width: 66.66%;
	}
	.col-lg-9 {
		width: 75%;
	}
    .col-lg-12 {
        width: 100%;
    }
}